<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="1.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/film.css">
    <title>فیلم</title>
</head>
<body style="background-color: #111111;" class="cover">
    <!-- header start -->
    <section class="banner">
        <header>
            <a href="#" class="logo">click <big style="color: black;">FILM</big></a>
            <div  class="toggle" onclick="toggle();"></div>
        </header>
        <div class="containe">
            <div class="clip clip1"></div>
            <div class="clip clip2"></div>
            <div class="clip clip3"></div>
            <div class="clip clip4"></div>
            <div class="clip clip5"></div>
        </div>
        <ul class="sci">
            <li><a href="#"><img src="/img/facebook.png"></a></li>
            <li><a href="#"><img src="/img/twitter.png"></a></li>
            <li><a href="#"><img src="/img/instagram.png"></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/">خانه</a></li>
            <li><a href="/serial">سریال</a></li>
            <li><a href="/film">فیلم</a></li>
            <li><a href="/users/register">ورود / ثبت نام</a></li>
        </ul>
    </section>
    <!-- header end -->
    <!-- main start -->
    <section>
        <div class="class">
            <main style="background-color: #111111;" class="fullpart">
                <div class="row mt-5">
                    <div  class="col-lg-4 col-md-12">
                        <div  class="container">
                            <div class="partone">
                                <section>
                                    <div class="mt-1">
                                        <div class="collection">
                                            <div class="textCollection text-center">
                                                <span>بخش ها</span>
                                            </div>
                                            <a href="/netflex"><img class="mt-2" src="/img/home/left/1.png" alt=""></a>
                                            <a href="/hbo"><img src="/img/home/left/4.png" alt=""></a>
                                            <a href="/marvel"><img src="/img/home/left/5.png" alt=""></a>
                                            <a href="/BW"><img src="/img/home/left/2.png" alt=""></a>
                                        </div>
                                        <div class="text-center text-one">
                                            <a href=""><span style="color: #00D4AD;">اخرین های پخش انلاین <big style="color: #3498db;"> بازیرنویس فارسی</big><i class="fab fa-youtube fil"></i></span></a>
                                        </div>
                                    </div>
                                    <div class="poster-film mt-3">
                                        <a href="/film"><img src="/img/home/left/film1/1.jpg" alt=""></a>
                                        <a href="/film"><img src="/img/film/1.jpg" alt=""></a>
                                        <a href="/film"><img src="/img/film/3.jpg" alt=""></a>
                                    </div>
                                    <div class="text-center submit-one mt-3">
                                        <a href="/film"><span style="color: #00D4AD;">ورود به این بخش</span></a>
                                    </div>
                                    <div class="textCollection text-center">
                                        <span>آخرین سریال ها</span>
                                    </div>
                                    <div class="partserial">
                                        <div class="mt-3">
                                            <a href="/serial"><img src="/img/home/left/film1/2.jpg" alt=""></a>
                                        </div>
                                        <div class="">
                                            <div class="serialpart">
                                                <a href=""><div class="right2"><span>the walking ded</span></div></a>
                                                <a href=""><div class="left2"><span>قسمت اخر فصل اول اضافه شد</span></div></a>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <a href="/serial"><img src="/img/home/left/film1/4.jpg" alt=""></a>
                                        </div>
                                        <div class="">
                                            <div class="serialpart">
                                                <a href=""><div class="right2"><span>the walking ded</span></div></a>
                                                <a href=""><div class="left2"><span>قسمت اخر فصل اول اضافه شد</span></div></a>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <a href="/serial"><img src="/img/home/left/film1/5.jpg" alt=""></a>
                                        </div>
                                        <div class="">
                                            <div class="serialpart">
                                                <a href=""><div class="right2"><span>the walking ded</span></div></a>
                                                <a href=""><div class="left2"><span>قسمت اخر فصل اول اضافه شد</span></div></a>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <a href="/serial"><img src="/img/home/left/film1/6.jpg" alt=""></a>
                                        </div>
                                        <div class="">
                                            <div class="serialpart">
                                                <a href=""><div class="right2"><span>the walking ded</span></div></a>
                                                <a href=""><div class="left2"><span>قسمت اخر فصل اول اضافه شد</span></div></a>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <a href="/serial"><img src="/img/home/left/film1/7.jpg" alt=""></a>
                                        </div>
                                        <div class="">
                                            <div class="serialpart">
                                                <a href=""><div class="right2"><span>the walking ded</span></div></a>
                                                <a href=""><div class="left2"><span>قسمت اخر فصل اول اضافه شد</span></div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center submit-one mt-3">
                                        <a href="/serial"><span style="color: #00D4AD;">ورود به ارشیو سریال ها</span></a>
                                    </div>
                                    <div class="textCollection text-center mt-2">
                                        <span>آخرین تریلرها</span>
                                    </div>
                                    <div class="trailer m-3">
                                        <a href=""><img src="/img/home/left/film1/3.jpg" alt=""></a>
                                        <div class="">
                                            <div class="serialpart2">
                                                <div class="right3"><span>the walking ded</span></div>
                                                <div class="left3"><span>تریلر فصل 1 سریال</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center submit-one mt-3">
                                        <a href="/trailer"><span style="color: #00D4AD;">ورود به ارشیو تریلرها</span></a>
                                    </div>
                                    <div class="textCollection text-center mt-2">
                                        <span>دسته بندی فیلم ها</span>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="list text-right m-4">
                                                    <ul>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="list text-right m-4">
                                                    <ul>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="textCollection text-center mt-2">
                                        <span>دسته بندی سریال ها</span>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="list text-right m-4">
                                                    <ul>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="list text-right m-4">
                                                    <ul>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                        <li><a href="#">انیمیشن</a><span class="mr-3">50</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #20242C; width: 100%;" class="col-lg-8 col-md-12 ">
                        <section  class="">
                            <div class="textCollection text-center mt-4">
                                <span> فیلم های سایت</span>
                            </div>
                            <div style="direction: rtl;" class="menu-part mt-5">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4" >
                                        <div class="d"><a href="/downlod"><img src="/img/home/right/1.jpg" alt=""></a></div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 pop" >
                                        <div class="sesion1">
                                            <div class="s1">
                                                <a style="text-decoration: none;" href="/downlod"><span>دانلود فیلم Penguins:Life on the Edge 2020</span></a>
                                            </div>
                                            <div class="s2 ml-5">
                                                <div class="star"><i class="fas fa-star"><span>6.9 <small>/10</small></span></i></div>
                                                <div class="imdb"><span>IMDB</span></div>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-4">
                                            <div class="se1">
                                                <span class="mton"><i class="far fa-folder"></i>ژانر :</span>
                                                <span class="mton2">خوانوادگی <big>|</big> مستند </span>
                                            </div>
                                            <div class="se2 ml-5">
                                                <span>میزان آرا : 112 نفر</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-tv"></i>کیفیت :</span>
                                                <span class="mton3">WEB-DL 1080p</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-globe"></i>محصول کشور :</span>
                                                <span class="mton2">آمریکا</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user"></i>کارگردان :</span>
                                                <span class="mton2">Alastir Fothergil</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user-friends"></i>بازیگران :</span>
                                                <span class="mton4">Alair Underwood, John Aitchison, Matthson Aeberhard</span>
                                            </div>
                                        </div>
                                        <div class="sesion3 mt-1">
                                            <div class="ses4">
                                                <div class="ses4"><span class="mton"><i class="fas fa-stream"></i>خلاصه داستان :</span></div>
                                                <div class="ses3"><p class="text-center">در جریان جنگ جهانی دوم، یک پسر هشت ساله به نام «برونو» به همراه خانواده‌اش شهر برلین را ترک می‌کنند تا در نزدیکی یک اردوگاه کار اجباری که پدرش اخیرا به عنوان فرمانده آن انتخاب شده است، زندگی کنند و...</p></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4" >
                                        <div class="d"><a href="/downlod"><img src="/img/home/right/2.jpg" alt=""></a></div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 pop" >
                                        <div class="sesion1">
                                            <div class="s1">
                                                <a style="text-decoration: none;" href="/downlod"><span>دانلود فیلم Penguins:Life on the Edge 2020</span></a>
                                            </div>
                                            <div class="s2 ml-5">
                                                <div class="star"><i class="fas fa-star"><span>6.9 <small>/10</small></span></i></div>
                                                <div class="imdb"><span>IMDB</span></div>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-4">
                                            <div class="se1">
                                                <span class="mton"><i class="far fa-folder"></i>ژانر :</span>
                                                <span class="mton2">خوانوادگی <big>|</big> مستند </span>
                                            </div>
                                            <div class="se2 ml-5">
                                                <span>میزان آرا : 112 نفر</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-tv"></i>کیفیت :</span>
                                                <span class="mton3">WEB-DL 1080p</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-globe"></i>محصول کشور :</span>
                                                <span class="mton2">آمریکا</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user"></i>کارگردان :</span>
                                                <span class="mton2">Alastir Fothergil</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user-friends"></i>بازیگران :</span>
                                                <span class="mton4">Alair Underwood, John Aitchison, Matthson Aeberhard</span>
                                            </div>
                                        </div>
                                        <div class="sesion3 mt-1">
                                            <div class="ses4">
                                                <div class="ses4"><span class="mton"><i class="fas fa-stream"></i>خلاصه داستان :</span></div>
                                                <div class="ses3"><p class="text-center">در جریان جنگ جهانی دوم، یک پسر هشت ساله به نام «برونو» به همراه خانواده‌اش شهر برلین را ترک می‌کنند تا در نزدیکی یک اردوگاه کار اجباری که پدرش اخیرا به عنوان فرمانده آن انتخاب شده است، زندگی کنند و...</p></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4" >
                                        <div class="d"><a href="/downlod"><img src="/img/home/right/3.jpg" alt=""></a></div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 pop" >
                                        <div class="sesion1">
                                            <div class="s1">
                                                <a style="text-decoration: none;" href="/downlod"><span>دانلود فیلم Penguins:Life on the Edge 2020</span></a>
                                            </div>
                                            <div class="s2 ml-5">
                                                <div class="star"><i class="fas fa-star"><span>6.9 <small>/10</small></span></i></div>
                                                <div class="imdb"><span>IMDB</span></div>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-4">
                                            <div class="se1">
                                                <span class="mton"><i class="far fa-folder"></i>ژانر :</span>
                                                <span class="mton2">خوانوادگی <big>|</big> مستند </span>
                                            </div>
                                            <div class="se2 ml-5">
                                                <span>میزان آرا : 112 نفر</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-tv"></i>کیفیت :</span>
                                                <span class="mton3">WEB-DL 1080p</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-globe"></i>محصول کشور :</span>
                                                <span class="mton2">آمریکا</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user"></i>کارگردان :</span>
                                                <span class="mton2">Alastir Fothergil</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user-friends"></i>بازیگران :</span>
                                                <span class="mton4">Alair Underwood, John Aitchison, Matthson Aeberhard</span>
                                            </div>
                                        </div>
                                        <div class="sesion3 mt-1">
                                            <div class="ses4">
                                                <div class="ses4"><span class="mton"><i class="fas fa-stream"></i>خلاصه داستان :</span></div>
                                                <div class="ses3"><p class="text-center">در جریان جنگ جهانی دوم، یک پسر هشت ساله به نام «برونو» به همراه خانواده‌اش شهر برلین را ترک می‌کنند تا در نزدیکی یک اردوگاه کار اجباری که پدرش اخیرا به عنوان فرمانده آن انتخاب شده است، زندگی کنند و...</p></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4" >
                                        <div class="d"><a href="/downlod"><img src="/img/home/right/4.jpg" alt=""></a></div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 pop" >
                                        <div class="sesion1">
                                            <div class="s1">
                                                <a style="text-decoration: none;" href="/downlod"><span>دانلود فیلم Penguins:Life on the Edge 2020</span></a>
                                            </div>
                                            <div class="s2 ml-5">
                                                <div class="star"><i class="fas fa-star"><span>6.9 <small>/10</small></span></i></div>
                                                <div class="imdb"><span>IMDB</span></div>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-4">
                                            <div class="se1">
                                                <span class="mton"><i class="far fa-folder"></i>ژانر :</span>
                                                <span class="mton2">خوانوادگی <big>|</big> مستند </span>
                                            </div>
                                            <div class="se2 ml-5">
                                                <span>میزان آرا : 112 نفر</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-tv"></i>کیفیت :</span>
                                                <span class="mton3">WEB-DL 1080p</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-globe"></i>محصول کشور :</span>
                                                <span class="mton2">آمریکا</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user"></i>کارگردان :</span>
                                                <span class="mton2">Alastir Fothergil</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user-friends"></i>بازیگران :</span>
                                                <span class="mton4">Alair Underwood, John Aitchison, Matthson Aeberhard</span>
                                            </div>
                                        </div>
                                        <div class="sesion3 mt-1">
                                            <div class="ses4">
                                                <div class="ses4"><span class="mton"><i class="fas fa-stream"></i>خلاصه داستان :</span></div>
                                                <div class="ses3"><p class="text-center">در جریان جنگ جهانی دوم، یک پسر هشت ساله به نام «برونو» به همراه خانواده‌اش شهر برلین را ترک می‌کنند تا در نزدیکی یک اردوگاه کار اجباری که پدرش اخیرا به عنوان فرمانده آن انتخاب شده است، زندگی کنند و...</p></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4" >
                                        <div class="d"><a href="/downlod"><img src="/img/home/right/6.jpg" alt=""></a></div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 pop" >
                                        <div class="sesion1">
                                            <div class="s1">
                                                <a style="text-decoration: none;" href="/downlod"><span>دانلود فیلم Penguins:Life on the Edge 2020</span></a>
                                            </div>
                                            <div class="s2 ml-5">
                                                <div class="star"><i class="fas fa-star"><span>6.9 <small>/10</small></span></i></div>
                                                <div class="imdb"><span>IMDB</span></div>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-4">
                                            <div class="se1">
                                                <span class="mton"><i class="far fa-folder"></i>ژانر :</span>
                                                <span class="mton2">خوانوادگی <big>|</big> مستند </span>
                                            </div>
                                            <div class="se2 ml-5">
                                                <span>میزان آرا : 112 نفر</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-tv"></i>کیفیت :</span>
                                                <span class="mton3">WEB-DL 1080p</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-globe"></i>محصول کشور :</span>
                                                <span class="mton2">آمریکا</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user"></i>کارگردان :</span>
                                                <span class="mton2">Alastir Fothergil</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user-friends"></i>بازیگران :</span>
                                                <span class="mton4">Alair Underwood, John Aitchison, Matthson Aeberhard</span>
                                            </div>
                                        </div>
                                        <div class="sesion3 mt-1">
                                            <div class="ses4">
                                                <div class="ses4"><span class="mton"><i class="fas fa-stream"></i>خلاصه داستان :</span></div>
                                                <div class="ses3"><p class="text-center">در جریان جنگ جهانی دوم، یک پسر هشت ساله به نام «برونو» به همراه خانواده‌اش شهر برلین را ترک می‌کنند تا در نزدیکی یک اردوگاه کار اجباری که پدرش اخیرا به عنوان فرمانده آن انتخاب شده است، زندگی کنند و...</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4" >
                                        <div class="d"><a href="/downlod"><img src="/img/home/right/5.jpg" alt=""></a></div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 pop" >
                                        <div class="sesion1">
                                            <div class="s1">
                                                <a style="text-decoration: none;" href="/downlod"><span>دانلود فیلم Penguins:Life on the Edge 2020</span></a>
                                            </div>
                                            <div class="s2 ml-5">
                                                <div class="star"><i class="fas fa-star"><span>6.9 <small>/10</small></span></i></div>
                                                <div class="imdb"><span>IMDB</span></div>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-4">
                                            <div class="se1">
                                                <span class="mton"><i class="far fa-folder"></i>ژانر :</span>
                                                <span class="mton2">خوانوادگی <big>|</big> مستند </span>
                                            </div>
                                            <div class="se2 ml-5">
                                                <span>میزان آرا : 112 نفر</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-tv"></i>کیفیت :</span>
                                                <span class="mton3">WEB-DL 1080p</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-globe"></i>محصول کشور :</span>
                                                <span class="mton2">آمریکا</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user"></i>کارگردان :</span>
                                                <span class="mton2">Alastir Fothergil</span>
                                            </div>
                                        </div>
                                        <div class="sesion2 mt-1">
                                            <div class="ses1">
                                                <span class="mton"><i class="fas fa-user-friends"></i>بازیگران :</span>
                                                <span class="mton4">Alair Underwood, John Aitchison, Matthson Aeberhard</span>
                                            </div>
                                        </div>
                                        <div class="sesion3 mt-1">
                                            <div class="ses4">
                                                <div class="ses4"><span class="mton"><i class="fas fa-stream"></i>خلاصه داستان :</span></div>
                                                <div class="ses3"><p class="text-center">در جریان جنگ جهانی دوم، یک پسر هشت ساله به نام «برونو» به همراه خانواده‌اش شهر برلین را ترک می‌کنند تا در نزدیکی یک اردوگاه کار اجباری که پدرش اخیرا به عنوان فرمانده آن انتخاب شده است، زندگی کنند و...</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="color: #00D4AD; font-size: 1.5em; font-weight: bold;" class="text-center mt-5">
                                <span>ClickFilm 2021</span>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </section>
    <!-- main end -->
    <script type="text/javascript">
        function toggle(){
            const toggle = document.querySelector('.toggle');
            const banner = document.querySelector('.banner');
            toggle.classList.toggle('active')
            banner.classList.toggle('active')
        }
    </script>
    <script src="\js\jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="\js\home.js"></script>
</body>
</html>